


.last{										
		background-color:rgb(70,70,70);
		color:white;
		font-family: "Times New Roman",Times,serif;
		font-size:20px;
		text-align:center;
		margin-top:0px;
		/* for gray background area*/
 
	}
.definition{														
				font-family: "Times New Roman",Times,serif;
				font-size:17px;
				color:rgb(180,180,180);
				/*for dark grey handwriting */
			}

			/* footers */
.homeul {
    
		list-style-type: none;
		margin-left:350px;
		padding: 0;
		overflow: hidden;

    
		}

.homeli {
		float: left;
		}

.homea{
		display: block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}



h1 {  	font-family:"Cinzel Decorative Bold";
		background-color:black;
		color:white;
		font-size:60px;
		margin:0;
		/*online food header */

	}

	/*for header*/
.h1span{
			position: relative;
			bottom: 20px;
	
		}
		

.login{
		margin-left:580px;
		
		font-family:'Times New Roman';
		font-size:20px;
		color:rgb(130,130,130);
		text-decoration: none;
		}

.help {
		
		
		font-family:'Times New Roman';
		font-size:20px;
		color:rgb(130,130,130);
		text-decoration: none;
		}
		

nav
{
	position: fixed;
	left: -15em;					/* can be used to control sidebar position */
	top: 0;
	bottom: 0;
	background-color: rgb(100,100,100);
	border-right: 50px solid rgb(120,120,120);
	box-shadow: 4px 0 5px rgba(0,0,0,0.2);
	z-index: 1;
}


nav:after
{
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	right: -70px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent rgb(120,120,120);
}
.nava
{
	color:black;
	text-decoration:none;
	font-size:24px;
	cursor: pointer;

}
nav li
{
	padding-bottom:3px;
	
}
nav ul
{
	width:10em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
	
}
article, article:after, nav, nav *
{

	transition: all 600ms ease;
}
nav:hover
{
	left: 0;
}
nav:hover ~ article
{
	
	transform: translateX(16em) perspective(600px) rotateY(10deg);
}
nav:hover ~ article:after
{
	left: 60%;
}