<!DOCTYPE html>
<html >
<head>
<link type="text/css" href="{{url_for('static',filename='webpages.css')}}" rel="stylesheet"/>
<link rel="stylesheet" href="{{url_for('static',filename='customer.css')}}">

<script type="text/javascript" src="{{url_for('static',filename='alert/alertify.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='alert/alertify.default.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='alert/alertify.core.css')}}">

<style>
.h1span{
			position: relative;
			bottom: 20px;
	
		}

	
</style>
<script>


function required_login()
{


var username=document.forms["form1"]["username"].value;
var password=document.forms["form1"]["password"].value;
var x=0;
	if(username=="")
	{
		alert("please input username");
		document.form1.action="";
	}
	else if(password=="")
	{
		alert("enter password");
		document.form1.action="";
	}
	else 
	{
		{% for x in var %}

			if(username=="{{x[0]}}" && password=="{{x[1]}}")
			{
					x=1;
			}
		{% endfor %}	
		
	
		if(x==1)	
		{
			alertify.log( "welcome "+username, "success" );
			document.form1.action="http://localhost:5000/customer_logged_in";
			document.form1.method="post";
		
			
		}
		else
		{
			alert("invalid username/password");
			document.form1.action="";
		}
	}	
}

</script>
<script>
function required_signup()
{
var username=document.forms["form2"]["username"].value;
var password=document.forms["form2"]["password"].value;
var password2=document.forms["form2"]["password2"].value;
var y=0;
if(username=="")
{
	alert("enter username");
	document.form2.action="";
}
else if(password==''||password2=='')
{
	alert("enter password");
	document.form2.action="";
}
else if(password!=password2)
{
	alert("passwords match failed");
	document.form2.action="";
}
else
{
	{% for x in var %}
			if(username=="{{x[0]}}")
			{
				y=1;	
			}
	{% endfor %}	


	if(y==0)
	{
		alertify.log( "welcome "+username, "success" );
		document.form2.action="http://localhost:5000/customer_signed_up";
		document.form2.method="post";
	}	
	else
	{
		alert("username already exists")
		document.form2.action="";
	}
}


}

</script>
  <meta charset="UTF-8">
  <title>Login & Sign Up Form Concept</title>
  


  
</head>

<body>

<h1>

<img src="{{url_for('static',filename='food.jpg')}}"  width="80" height="60">
<span class="h1span">

LA CANTINA
</span>

<span>

<a href="/help" class="help_no_user">HELP</a>
</span>
</h1>
<div class="content_main">
 <div class="cotn_principal">
 
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>LOGIN</h2>  
  <p>Already a member ?</p> 
  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>SIGN UP</h2>

  
  <p>Dont have an account ?</p>

  <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="{{url_for('static',filename='homepage_pic.jpg')}}" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="{{url_for('static',filename='homepage_pic.jpg')}}" alt="" />
       </div>
 <div class="cont_form_login">
<a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#8592;</i></a>
   <h2>LOGIN</h2>
   
	<form name='form1' onsubmit="required_login()">
	<br>
	
	<input class="login_space" type="text" name="username"  placeholder="Username">
	<input class="login_space" type="password" name="password" placeholder="Password">
	
    <button class="btn_login" type="submit" name="submit" value="Sign in" />SIGN IN</button>
	</form>	
   
  </div>
  
   <div class="cont_form_sign_up">
<a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#8592;</i></a>
     <h2>SIGN UP</h2>
	 

<form name='form2' onsubmit="required_signup()">
 <br>
<input class="login_space" type="text" name="username" placeholder="Username" >
<input class="login_space" type="password" name="password" placeholder="Password" >
<input class="login_space" type="password" name="password2" placeholder="Confirm Password" >
<button class="btn_sign_up" type="submit" name="submit" value="Sign up" />SIGN UP</button>
</form>	

  </div>

    </div>
    
  </div>
 </div>
</div>
</div>


<!-- menu -->
	<nav>
		<img class="menu_image" src="{{url_for('static',filename='food.jpg')}}"  width="70" height="70">
		<br>
		<span class="menu_heading">La Cantina</span>
		<ul>
			<li><a class="nava" href="/">Home</a></li>
			<li><a class="nava" href="/about">About Us</a></li>
			<li><a class="nava" href="/contact">Contact</a></li>
			<li><a class="nava" href="/privacy_policy">Privacy Policy</a></li>
			<li><a class="nava" href="/security">Security</a></li>		
			<li><a class="nava" href="/terms">Terms</a></li>		
			
		</ul>
	</nav>
	
  
<div class="last" >
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="motto">
We uphold the motto <span class="bullet">“making online food ordering fast and easy”</span>. Our service allows you<br> to find all of the restaurants available nearby, which can deliver to your house
</div>
<br><br>
<b><span class="head_left">Ordering food is easy as ABC Only 4 steps to make the order, easy payment, available 24/7</span>
</b>

<div class="definition">
<br><br>
The challenge for us is to make a versatile website that is simple and easy to use.<br>
What we have learned is that ordering food online is way easier, faster and has <br>
less complications than calling. What makes La Cantina better than the traditional order<br>
over the phone method?

<ul class="bullet"><li><span style="color:rgb(200,200,200);">24/7: Our site and app are available 24/7 with the feature to pre-order. You can plan your <br>
meal ahead from the best restaurants near you and avoid the rush hours</span></li>
<li><span style="color:rgb(200,200,200);">Free to use: Browse through 4000+ restaurant menus for free</span></li>
<li><span style="color:rgb(200,200,200);">Order food in 4 simple steps</span></li>
<li><span style="color:rgb(200,200,200);">Easy Payment: Do you prefer online payment? We accept all major credit cards as well as</li>
<li><span style="color:rgb(200,200,200);">If you prefer to pay cash on delivery in Indian Rupees, we’ve got that covered too.</span></li>
</ul>
</div>
<br><hr width="90%"><br>
<div class="services">
<b><span class="head_right">Our Services</span></b>
<br><br>
Should you have any concerns or would you want to give us feedback, please do not hesitate to contact our customer service
team by using our Live Chat feature on your LaCantina App or website, or by sending an email at customercare@variable.in. 
La Cantina India Corporate Office is located at Kayyath Villa, Kayyath Road , Thalassery.
</div>

<br><hr width="90%"><br>
<b><span class="head_left">Freedom of Choice </span></b><br><br>
<div class="freedom">

<span class="bullet">Breakfast, Lunch, Dinner or Late Night delivery</span> La Cantina is just the right place for you. 
<br>Simply pick one of the thousands of diverse restaurants available near you. From traditional meals to
<br>well-known fast food chains like Dominos, Pizza Hut and Box8 along with delicate cuisines such
<br> as Japanese, Biryani or Punjabi - you can find it all! All it takes is 4 easy steps:

<ol class="bullet"><li><span style="color:rgb(200,200,200);">Choose your city and area</span></li>
<li><span style="color:rgb(200,200,200);">Pick one of the 10000+ restaurant</span></li>
<li><span style="color:rgb(200,200,200);">Place your order and pay online or cash on delivery</span></li>
<li><span style="color:rgb(200,200,200);">Enjoy the freshly prepared food delivered to you!</span></li>
</ol>

</div>

<br><br>

</div>
    <script src="{{url_for('static',filename='js/customer.js')}}"></script>

</body>
</html>
