<html>
<body>

<script>

function required()
{
var location=document.forms["form1"]["location"].value;
var username=document.forms["form1"]["username"].value;
var password=document.forms["form1"]["password"].value;

if(((location=="TLY")||(location=="KANNUR"))||(location=="CALICUT"))
{
	if(username=="")
	{
		alert("please input username");
		document.form1.action="";
	}
	else if(password=="")
	{
		alert("enter password");
		document.form1.action="";
	}
	else if(username!=password)
	{
		alert("incorrect password")
		document.form1.action="";
	}
	else 
	{
		document.form1.action="http://localhost:5000/success"
		document.form1.method="post";
	}
}
else
{
	alert("Location invalid");
	document.form1.action="";
}


}


</script>





<form name="form1" onsubmit="required()">

location(TLY,KANNUR,CALICUT):
<input type='text' name='location'>
<br>
 username:
<input type='text' name='username'>
<br>
password:
<input type='text' name='password'>
<br>
<input type="submit" name="submit" value="Submit" />


      
</form>
</body>
</html>