<html>
<head>
<link type="text/css" href="{{url_for('static',filename='webpages_manager.css')}}" rel="stylesheet"/>
<style>
.content1
{
		background-size: cover;
		background-attachment: fixed;         /* scroll div contents without background */
		background-image:url({{url_for('static',filename='black.jpg')}});
}
.content2
{
		text-align:center;	
		font-family:Merriweather;
		font-size:22px;
		color:white;
}
.gobacka
{
	text-decoration:none;
	color:rgb(200,200,200);
	font-size:20px;
}
</style>
</head>
<body>
<h1>
<a href="/homepage_customer">
<img src="{{url_for('static',filename='food.jpg')}}"  width="80" height="60"></a>
<span class="h1span">

LA CANTINA</span>
<span>
<a href="/manager_logout" class="login">LOGOUT</></a>
<a href="/help" class="help">HELP</></a>
</span>
</h1>

<div class="content1">	
	<br>
	<br>
	<br><br><br><br>
	<div class="content2">
		the menu for your restaurant is empty
		<br><br>
		<a class="gobacka" href="/manager_menu/{{place}}/{{username}}">go back to manager menu</a>
	</div>
	<br><br><br><br>
	

</div>


<!-- menu -->
	<nav>
		<img class="menu_image" src="{{url_for('static',filename='food.jpg')}}"  width="70" height="70">
		<br>
		<span class="menu_heading">La Cantina</span>
		<ul>
			<li><a class="nava" href="/manager_homepage/{{place}}">Home</a></li>
			<li><a class="nava" href="/about">About Us</a></li>
			<li><a class="nava" href="/contact">Contact</a></li>
			<li><a class="nava" href="/privacy_policy">Privacy Policy</a></li>
			<li><a class="nava" href="/security">Security</a></li>	
			<li><a class="nava" href="/terms">Terms</a></li>		
			
		</ul>
	</nav>



<div class="last" >
<br>
<div class="motto">
We still uphold the same motto <span class="bullet">“making online food ordering fast and easy”</span>. Our service allows you<br> to find all of the restaurants available nearby, which can deliver to your house
</div>
<br><br>
<b><span class="head_left">Ordering food is easy as ABC Only 4 steps to make the order, easy payment, available 24/7</span>
</b>

<div class="definition">
<br><br>
The <span class="bullet">challenge</span> for us is to make a versatile website that is simple and easy to use.<br>
What we have learned is that ordering food online is way easier, faster and has <br>
less complications than calling. What makes La Cantina better than the traditional order<br>
over the phone method?

<ul class="bullet"><li><span style="color:rgb(200,200,200);">24/7: Our site and app are available 24/7 with the feature to pre-order. You can plan your <br>
meal ahead from the best restaurants near you and avoid the rush hours</span></li>
<li><span style="color:rgb(200,200,200);">Free to use: Browse through 4000+ restaurant menus for free</span></li>
<li><span style="color:rgb(200,200,200);">Order food in 4 simple steps</span></li>
<li><span style="color:rgb(200,200,200);">Easy Payment: Do you prefer online payment? We accept all major credit cards as well as</li>
<li><span style="color:rgb(200,200,200);">If you prefer to pay cash on delivery in Indian Rupees, we’ve got that covered too.</span></li>
</ul>
</div>
<br><hr width="90%"><br>
<div class="services">
<b><span class="head_right">Our Services</span></b>
<br><br>
Should you have any concerns or would you want to give us feedback, please do not hesitate to contact our customer service
team by using our Live Chat feature on your LaCantina App or website, or by sending an email at customercare@lacantina.in. 
La Cantina India Corporate Office is located at Kayyath Villa, Kayyath Road , Thalassery.
</div>

<br><hr width="90%"><br>
<b><span class="head_left">Freedom of Choice </span></b><br><br>
<div class="freedom">

<span class="bullet">Breakfast, Lunch, Dinner or Late Night delivery</span> La Cantina is just the right place for you. 
<br>Simply pick one of the thousands of diverse restaurants available near you. From traditional meals to
<br>well-known fast food chains like Dominos, Pizza Hut and Box8 along with delicate cuisines such
<br> as Japanese, Biryani or Punjabi - you can find it all! All it takes is 4 easy steps:

<ol class="bullet"><li><span style="color:rgb(200,200,200);">Choose your city and area</span></li>
<li><span style="color:rgb(200,200,200);">Pick one of the 10000+ restaurant</span></li>
<li><span style="color:rgb(200,200,200);">Place your order and pay online or cash on delivery</span></li>
<li><span style="color:rgb(200,200,200);">Enjoy the freshly prepared food delivered to you!</span></li>
</ol>

</div>

<br><br>


</div>
</body>
</html>
