<html>
<head>
<link type="text/css" href="{{url_for('static',filename='webpages.css')}}" rel="stylesheet"/>

<style>
body
{
	background-color:rgb(180,180,180);
	margin:0;
}

.content		/* whole box */
{
	background-color:white;
	margin-left:100px;
	display:inline-block;
	margin-right:100px;
}
.content1			/* top part of box */
{
	background-color:rgb(150,150,150);
	font-size:24px;
	width:1140px;
	padding-left:10px;
	padding-top:10px;
	text-align:center;

}
.content2			/* lower part of box */
{
	font-family: "Open Sans";
	text-align:center;
	background-color:white;
	font-size:16px;
	padding:15px;
	
}
</style>

<body>
<h1>
<a href="/">
<img src="{{url_for('static',filename='food.jpg')}}"  width="80" height="60"></a>
<span class="h1span">

LA CANTINA</span>

<span>

<a href="/help" class="help_no_user">HELP</></a>
</span>
</h1>

<br><br><br><br>
<div class="content">
	<div class="content1">
		Security
	</div>	
	<div class="content2">
		
		<b>Help keep LaCantina safe for the community by disclosing security issues to us</b><br>

		<br>We take security seriously at LaCantina. If you are a security researcher or expert, and believe you’ve identified <br>security-related issues with LaCantina’s website or apps, we would appreciate you disclosing it to us<br> responsibly.<br><br>

		Our team is committed to addressing all security issues in a responsible and timely manner, and ask the<br> security community to give us the opportunity to do so before disclosing them publicly. Please submit a bug<br> to us on our HackerOne page, along with a detailed description of the issue and steps to reproduce it, if any.<br> We trust the security community to make every effort to protect our users data and privacy.<br><br>

		For a list of researchers who have helped us address security issues, please visit our HackerOne page.
	</div>	

</div>

<br><br><br><br>


<!-- menu -->
	<nav class="nav">
		<img class="menu_image" src="{{url_for('static',filename='food.jpg')}}"  width="70" height="70">
		<br>
		<span class="menu_heading">La Cantina</span>
		<ul>
			<li><a class="nava" href="{{path}}">Home</a></li>
			<li><a class="nava" href="/about">About Us</a></li>
			<li><a class="nava" href="/contact">Contact</a></li>
			<li><a class="nava" href="/privacy_policy">Privacy Policy</a></li>
			<li><a class="nava" href="/security">Security</a></li>		
			<li><a class="nava" href="/terms">Terms</a></li>		

		</ul>
	</nav>

<div class="last" >
<br>
<div class="motto">
We uphold the motto <span class="bullet">“making online food ordering fast and easy”</span>. Our service allows you<br> to find all of the restaurants available nearby, which can deliver to your house
</div>
<br><br>
<b><span class="head_left">Ordering food is easy as ABC Only 4 steps to make the order, easy payment, available 24/7</span>
</b>

<div class="definition">
<br><br>
The challenge for us is to make a versatile website that is simple and easy to use.<br>
What we have learned is that ordering food online is way easier, faster and has <br>
less complications than calling. What makes La Cantina better than the traditional order<br>
over the phone method?

<ul class="bullet"><li><span style="color:rgb(200,200,200);">24/7: Our site and app are available 24/7 with the feature to pre-order. You can plan your <br>
meal ahead from the best restaurants near you and avoid the rush hours</span></li>
<li><span style="color:rgb(200,200,200);">Free to use: Browse through 4000+ restaurant menus for free</span></li>
<li><span style="color:rgb(200,200,200);">Order food in 4 simple steps</span></li>
<li><span style="color:rgb(200,200,200);">Easy Payment: Do you prefer online payment? We accept all major credit cards as well as</li>
<li><span style="color:rgb(200,200,200);">If you prefer to pay cash on delivery in Indian Rupees, we’ve got that covered too.</span></li>
</ul>
</div>
<br><hr width="90%"><br>
<div class="services">
<b><span class="head_right">Our Services</span></b>
<br><br>
Should you have any concerns or would you want to give us feedback, please do not hesitate to contact our customer service
team by using our Live Chat feature on your LaCantina App or website, or by sending an email at customercare@variable.in. 
La Cantina India Corporate Office is located at Kayyath Villa, Kayyath Road , Thalassery.
</div>

<br><hr width="90%"><br>
<b><span class="head_left">Freedom of Choice </span></b><br><br>
<div class="freedom">

<span class="bullet">Breakfast, Lunch, Dinner or Late Night delivery</span> La Cantina is just the right place for you. 
<br>Simply pick one of the thousands of diverse restaurants available near you. From traditional meals to
<br>well-known fast food chains like Dominos, Pizza Hut and Box8 along with delicate cuisines such
<br> as Japanese, Biryani or Punjabi - you can find it all! All it takes is 4 easy steps:

<ol class="bullet"><li><span style="color:rgb(200,200,200);">Choose your city and area</span></li>
<li><span style="color:rgb(200,200,200);">Pick one of the 10000+ restaurant</span></li>
<li><span style="color:rgb(200,200,200);">Place your order and pay online or cash on delivery</span></li>
<li><span style="color:rgb(200,200,200);">Enjoy the freshly prepared food delivered to you!</span></li>
</ol>

</div>

<br><br>

</div>
</body>
</html>