<html>
<head>
<link type="text/css" href="{{url_for('static',filename='webpages.css')}}" rel="stylesheet"/>

<style>

body
{
	background-color:rgb(180,180,180);
	margin:0;
}

.content		/* whole box */
{
	background-color:white;
	margin-left:100px;
	display:inline-block;
	margin-right:100px;
}
.content1			/* top part of box */
{
	background-color:rgb(150,150,150);
	font-size:22px;
	width:1140px;
	padding-left:10px;
	padding-top:10px;

}
.content2			/* lower part of box */
{
	font-family: "Open Sans";

	background-color:white;
	font-size:15px;
	padding:15px;
	
}
</style>

<body>
<h1>
<a href="/">
<img src="{{url_for('static',filename='food.jpg')}}"  width="80" height="60"></a>
<span class="h1span">

LA CANTINA</span>

<span>

<a href="/help" class="help_no_user">HELP</></a>
</span>
</h1>

<br><br><br><br>
<div class="content">
	<div class="content1">
		<b>Terms and Conditions</b>
	</div>	
	<div class="content2">
		
		Please read the terms and conditions ("Terms and Conditions") set out below carefully before ordering any Goods or Services from this Website. By ordering any Goods or Services from this Website, by phone, or by our mobile applications you agree to be bound by these Terms and Conditions.
		<br><br>
		Section 1: Introduction <br><br>We are LaCantina, a brand of http://www.LaCantina.in, unless otherwise stated.<br><br>
		Section 2: Definitions<br>
		<br>2.1. "Agreement" is a reference to these Terms and Conditions, the Privacy Policy, any order form and payment instructions provided to you;
		<br>2.2. "Privacy Policy" means the policy displayed on our Website which details how we collect and store your personal data;
		<br>2.3. "you", "your" and "yours" are references to you the person accessing this Website and ordering any Goods or Services from the Website or from any other channel provided by LaCantina;
		<br>2.4. "we", "us", "our", and "LaCantina" are references to the Company;
		<br>2.5. "Goods" is a reference to any goods which we may offer for sale from our Website from time to time;
		<br>2.6. "Service" or "Services" is a reference to any service which we may supply and which you may request via our Website;
		<br>2.7. "Participating Restaurant" is a third party, which has agreed to co-operate with the Company to prepare and/or deliver the Goods or Services.
		<br>2.8. "Food Delivery" is a reference to perishable goods and to any form of delivery service, which both are provided by our Participating Restaurants and for both of which our Participating Restaurants take full responsibility; and
		<br>2.9. "Website" is a reference to our Website http://www.LaCantina.in or our mobile applications on which we offer our Goods or Services.<br>
		<br>Section 3: Ordering<br>
		<br>3.1. Any contract for the supply of Food Delivery from this Website is between you and the Participating Restaurant; for the supply of Goods or Services from this Website any contact is between you and LaCantina. You agree to take particular care when providing us with your details and warrant that these details are accurate and complete at the time of ordering. You also warrant that the credit or debit card details that you provide are for your own credit or debit card and that you have sufficient funds to make the payment.
		<br>3.2. Food Delivery, Goods and Services purchased from this Website are intended for your use only and you warrant that any Goods purchased by you are not for resale and that you are acting as principal only and not as agent for another party when <br>receiving the Services.
		<br>3.3. Please note that some of our Goods may be suitable for certain age ranges only. You should check that the product you are ordering is suitable for the intended recipient.
		<br>3.4. When ordering from this Website you may be required to provide an e-mail address and password. You must ensure that you keep the combination of these details secure and do not provide this information to a third party.
		<br>3.5. We will take all reasonable care, in so far as it is in our power to do so, to keep the details of your order and payment secure, but in the absence of negligence on our part we cannot be held liable for any loss you may suffer if a third party procures unauthorized access to any data you provide when accessing or ordering from the Website.
		<br>3.6. Any order that you place with us is subject to product availability, delivery capacity and acceptance by us and the Participating Restaurant. When you place your order online, we will send you an email to confirm that we have received it. This email confirmation will be produced automatically so that you have confirmation of your order details. You must inform us immediately if any details are incorrect. The fact that you receive an automatic confirmation does not necessarily mean that either we or the Participating Restaurant will be able to fill your order. Once we have sent the confirmation email we will check availability and delivery capacity.
		<br>3.7. If the ordered Food Delivery and delivery capacity is available, the Participating Restaurant will accept the contract and confirm it to LaCantina. If the details of the order are correct, the contract for the Food Delivery, Goods or Services will be confirmed by text message (SMS).
		<br>3.8. In the case that Goods offered by LaCantina were ordered, LaCantina will confirm availability together with or separately from Food Delivery.
		<br>3.9. The confirmation message will specify delivery details including the approximate delivery time specified by the Participating Restaurant and confirm the price of the Food Delivery, Goods and Services ordered.
		<br>3.10. If the Food Delivery and/or Goods are not available or if there is no delivery capacity, we will also let you know by text message (SMS) or phone call.
	</div>	

</div>

<br><br><br><br>

<!-- menu -->
	<nav class="nav">
		<img class="menu_image" src="{{url_for('static',filename='food.jpg')}}"  width="70" height="70">
		<br>
		<span class="menu_heading">La Cantina</span>
		<ul>
			<li><a class="nava" href="{{path}}">Home</a></li>
			<li><a class="nava" href="/about">About Us</a></li>
			<li><a class="nava" href="/contact">Contact</a></li>
			<li><a class="nava" href="/privacy_policy">Privacy Policy</a></li>
			<li><a class="nava" href="/security">Security</a></li>	
			<li><a class="nava" href="/terms">Terms</a></li>			
		</ul>
	</nav>



<div class="last" >
<br>
<div class="motto">
We uphold the motto <span class="bullet">“making online food ordering fast and easy”</span>. Our service allows you<br> to find all of the restaurants available nearby, which can deliver to your house
</div>
<br><br>
<b><span class="head_left">Ordering food is easy as ABC Only 4 steps to make the order, easy payment, available 24/7</span>
</b>

<div class="definition">
<br><br>
The challenge for us is to make a versatile website that is simple and easy to use.<br>
What we have learned is that ordering food online is way easier, faster and has <br>
less complications than calling. What makes La Cantina better than the traditional order<br>
over the phone method?

<ul class="bullet"><li><span style="color:rgb(200,200,200);">24/7: Our site and app are available 24/7 with the feature to pre-order. You can plan your <br>
meal ahead from the best restaurants near you and avoid the rush hours</span></li>
<li><span style="color:rgb(200,200,200);">Free to use: Browse through 4000+ restaurant menus for free</span></li>
<li><span style="color:rgb(200,200,200);">Order food in 4 simple steps</span></li>
<li><span style="color:rgb(200,200,200);">Easy Payment: Do you prefer online payment? We accept all major credit cards as well as</li>
<li><span style="color:rgb(200,200,200);">If you prefer to pay cash on delivery in Indian Rupees, we’ve got that covered too.</span></li>
</ul>
</div>
<br><hr width="90%"><br>
<div class="services">
<b><span class="head_right">Our Services</span></b>
<br><br>
Should you have any concerns or would you want to give us feedback, please do not hesitate to contact our customer service
team by using our Live Chat feature on your LaCantina App or website, or by sending an email at customercare@variable.in. 
La Cantina India Corporate Office is located at Kayyath Villa, Kayyath Road , Thalassery.
</div>

<br><hr width="90%"><br>
<b><span class="head_left">Freedom of Choice </span></b><br><br>
<div class="freedom">

<span class="bullet">Breakfast, Lunch, Dinner or Late Night delivery</span> La Cantina is just the right place for you. 
<br>Simply pick one of the thousands of diverse restaurants available near you. From traditional meals to
<br>well-known fast food chains like Dominos, Pizza Hut and Box8 along with delicate cuisines such
<br> as Japanese, Biryani or Punjabi - you can find it all! All it takes is 4 easy steps:

<ol class="bullet"><li><span style="color:rgb(200,200,200);">Choose your city and area</span></li>
<li><span style="color:rgb(200,200,200);">Pick one of the 10000+ restaurant</span></li>
<li><span style="color:rgb(200,200,200);">Place your order and pay online or cash on delivery</span></li>
<li><span style="color:rgb(200,200,200);">Enjoy the freshly prepared food delivered to you!</span></li>
</ol>

</div>

<br><br>

</div>
</body>
</html>